.text-quienes {
    font-size: 1.75em !important;
}

.tit-grande {
    font-size: 2.2em !important;
}
#menu {
    width: 100%;
    background-color: white;
    padding: 5px 0;
    position: fixed;
    z-index: 1000;
}

#menu-entero {
    display: block !important;
}

#menu-responsive {
    display: none !important;
}

.menu-trabajos {
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1000;
}

.menu-contenido {
    text-align: center;
    margin: -30px 0 -40px 0 !important;
}

.menu-top {
    display: inline-block;
}

.menu-link {
    color: #5b5b5b;
    text-decoration: none;
    border-bottom: none !important;
    margin-right: 5px;
    font-size: 0.8em;
}

.menu-link:hover {
    background-color: #D7A480;
}

.menu-venta {
    border-bottom: none !important;
    color: #00E897 !important;
}

.menu-venta:hover {
    background-color: #5b5b5b !important;
}

.titulo-menu {
    color: black;
    font-weight: 700;
    font-size: 1em;
}

.contacto>ul.icons li{
    display: block !important;
}
.contacto-li {
    margin: 10px 0 !important;
    padding-left: 0 !important;
}

.titulo-head {
    display: block;
    margin-bottom: 50px;
    color: #F8D092 !important;
    letter-spacing: -.030em !important;
    font-size: 6.8rem !important;
    font-weight: 900;
    text-shadow: 2px 0 0 #000;
}

.container-subtitulo {
    margin-bottom: 40px!important;
    padding: 0 20px;
}
.subtitulo {
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    text-align: center;
}

.texto-head {
    color: #F0FFFA !important;
    font-weight: 600 !important;
    text-shadow: 2px 0 0 #000;
}

.logo-head {
    border: 0.5px solid rgb(1, 88, 58) !important;
}

.color-verde {
    color: #D7A480 !important;
}

.color-blanco {
    color: white !important;
    text-shadow: 1px 0 0 #000;
}

.icono {
    color: white !important;
    font-size: 5rem; 
    border-radius: 50%;
    border: 4px solid white !important;
    padding: 20px;
    margin-bottom: 35px;
}
/* NUEVA VIVIENDA */
.nueva-vivienda-titulo {
    font-size: 3em;
}

#venta {
    background-color: #E4BA8F !important;
}

/*TRABAJOS */
.text-titulo-trabajo {
    font-size: 3rem !important;
    margin: 0px !important;
}
.tit-trabajos {
    font-size: 4rem;
    margin-bottom: 0px !important;
}
/*LOGO */
img.logo-img {
    width: 10em !important;
    margin-bottom: 30px !important;
}
@media screen and (max-width: 1040px) {
    #menu {
        display: none !important;
    }

    #header {
        margin: 0 !important;
    }

    .titulo-head {
        font-size: 5rem !important;
    }
}

@media screen and (max-width: 736px) {
    .text-quienes {
        font-size: 1.1em !important;
    }
    #header {
        margin: 0 !important;
    }

    .titulo-head {
        font-size: 4.5rem !important;
    }
}

@media screen and (max-width: 480px) {

    #header {
        margin: 0 0 10 0 !important;
    }

    .titulo-head {
        font-size: 2.7rem !important;
        margin-bottom: 10px;
    }

    .texto-head {
        font-size: .8em;
    }

    .nueva-vivienda-titulo {
        font-size: 1.8rem;
    }
    .subtitulo {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 335px) {
    #header {
        margin: 0 0 10 0 !important;
    }

    .titulo-head {
        font-size: 2.4rem !important;
        margin-bottom: 10px;
    }

    .contacto-li-email {
        font-size: 1rem !important;
    }
}